.is-boxed {
    background: lighten(desaturate(color(bg, 1), 15%), 2%);
}

.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include shadow;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}



/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  :root {
    /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
    --primary: #F9425F;
    --primaryLight: #EDB86F;
    --secondary: #FFBA43;
    --secondaryLight: #FFBA43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #7487A3;
    --bodyTextColorWhite: #FAFBFC;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }
  #About-Us-Section {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Heebo', 'Arial', sans-serif;
    text-align: center;
    padding: var(--sectionPadding);
  }
  #About-Us-Section .cs-container {
    width: 100%;
    /* changes to 1280px on tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #About-Us-Section .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #About-Us-Section .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #About-Us-Section .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: #FAFBFC;
    position: relative;
  }
  #About-Us-Section .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #About-Us-Section .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 32.625rem;
  }
  #About-Us-Section .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  #About-Us-Section .cs-item {
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 2rem;
    background-color: #F7F7F7;
    border-radius: 1rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  #About-Us-Section .cs-item:hover {
    background-color: var(--primary);
    cursor: pointer;
  }
  #About-Us-Section .cs-item:hover .cs-icon {
    filter: grayscale(1) brightness(200%);
  }
  #About-Us-Section .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  #About-Us-Section .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  #About-Us-Section .cs-icon {
    width: auto;
    height: 3rem;
    margin-bottom: 1.5rem;
    display: block;
    transition: filter .3s;
  }
  #About-Us-Section .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--headerColor);
    transition: color .3s;
  }
  #About-Us-Section .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color .3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #About-Us-Section .cs-container {
    max-width: 80rem;
  }
  #About-Us-Section .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4rem;
  }
  #About-Us-Section .cs-flex {
    width: 50%;
  }
  #About-Us-Section .cs-title {
    margin: 0;
  }
  #About-Us-Section .cs-card-group {
    justify-content: space-between;
    /* makes sure every box "stretches" to be the same height as the tallest box */
    align-items: stretch;
    flex-direction: row;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #About-Us-Section .cs-item {
    width: auto;
    /* 16px - 32px */
    padding: 2rem clamp(1rem, 2.1vw, 2rem);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #About-Us-Section .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #About-Us-Section .cs-title,
  body.dark-mode #About-Us-Section .cs-text,
  body.dark-mode #About-Us-Section .cs-h3,
  body.dark-mode #About-Us-Section .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #About-Us-Section .cs-item {
    background-color: var(--accent);
  }
  body.dark-mode #About-Us-Section .cs-item:hover {
    background-color: var(--primary);
  }
  body.dark-mode #why-choose-289 .cs-icon {
    /* makes it so bright it turns white */
    filter: brightness(1000%);
  }
}
                                